.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: rgb(235, 236, 237);
}

.home__container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  z-index: 1;
}
.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: 20px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.header__slider__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header__slider__left {
  position: relative;
  left: 35px;
  color: black;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: transparent;
  top: 20%;
}
.header__slider__right {
  position: relative;
  right: 35px;
  color: black;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: transparent;
  top: 20%;
}
